*{
    box-sizing: border-box;
}
#container{

    height:100vh;
}

.box{
    height: 100%;
    width: 50%;
    position: absolute;
    padding: 1rem;
}

.left{
    text-transform: uppercase;
    left: 0;
    position: absolute;
    background-color: blue;
}

.right{
    text-transform: uppercase;
    right :0;
    position: absolute;
    background-color: red ;
}